.menu-input {
  display: block;
}

.cardButtons {
  width: 100%;
}

.margin-right {
  margin-right: 15px;
}

.card-position {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 40%;
  margin-right: 30%;
}

.google {
  background-color: #db3236; /* Green */
  color: white;
  width: 100%;
}

.facebook {
  background-color: #3b5998; /* Green */
  color: white;
  width: 100%;
}
