<div class="card-position">
  <mat-card class="container card" >
    <mat-card-header>
      <mat-card-title> Change Password </mat-card-title>
    </mat-card-header>
    <form class="menu-login" [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()" novalidate>
    <mat-card-content>
      <h3 class="has-info">{{validMessage}}</h3>
      <label class="menu-label"> New Password</label>
      <mat-form-field class="menu-input" appearance="outline">
        <input matInput formControlName="password" placeholder="Password" required>
      </mat-form-field>
      <label class="menu-label"> Confirm Password </label>
      <mat-form-field class="menu-input" appearance="outline">
        <input matInput formControlName="passwordConfirm" placeholder="Password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button class="cardButtons"  type="submit">Change Password</button>
    </mat-card-actions>
  </form>
  </mat-card>
<div>
