/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// custom background and foreground palettes
$my-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 800),
  background: map_get($mat-grey, 50),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: white,
);

$my-light-theme-foreground: (
  base:              #45B757,
  divider:           $black-12-opacity,
  dividers:          $black-12-opacity,
  disabled:          rgba(black, 0.38),
  disabled-button:   rgba(black, 0.38),
  disabled-text:     rgba(black, 0.38),
  hint-text:         rgba(black, 0.38),
  secondary-text:    rgba(black, 0.54),
  icon:              rgba(black, 0.54),
  icons:             rgba(black, 0.54),
  text:              rgba(#45B757, 0.87),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.38),
  slider-off-active: rgba(black, 0.38),
);

// instead of creating a theme with mat-light-theme, we want to define our own foreground and background palette.
@function create-lionmint-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $my-light-theme-foreground,
    background: $my-light-theme-background,
  );
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lionmint-app-primary: mat-palette($mat-green, 600, 500, 800);
$lionmint-app-accent:  mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lionmint-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lionmint-app-theme: create-lionmint-theme($lionmint-app-primary, $lionmint-app-accent, $lionmint-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lionmint-app-theme);

html, body { height: 100%; }

body
{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(#748182, 0.38);
}
